<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devworms.editorial.mango" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work.
    <uses-permission android:name="com.android.vending.BILLING" />


      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".

    <permission android:protectionLevel="signature"
        android:name="com.devworms.editorial.mango.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.devworms.editorial.mango.permission.C2D_MESSAGE" />

    -->

    <application
        android:name=".main.StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        >

        <provider android:authorities="com.facebook.app.FacebookContentProvider880131518745577"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name=".activities.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.AgregarTarjeta"
            android:label="addTarjeta"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".dialogs.WalletActivity"
            android:label="wallet"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--android:name="android.app.default_searchable"-->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>





        <activity
            android:name=".activities.ScreenSlider"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />



        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61e0d9761208fae8cf2b241b23eb83a6ef7d1528" />

        <!-- Push notification -->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />


                <category android:name="com.devworms.editorial.mango" />
            </intent-filter>
        </receiver>

        <!-- Pinterest -->

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="pdk4815040272566075428" />
        </intent-filter>

    </application>

</manifest>
